@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@media screen and (min-width: 480px) {
  body {
    font-family: Montserrat;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
.dark-theme {
  --background: #121212;
  --primary: #006aff;
  --secondary: #8b8b8b;
  --accent : #b2b9ff;
  --text: #ffffff;
  --link-text: #1F2937; 
  --heading-text: #ffffff;
  --white: #ffffff;
}

.light-theme {
  --background: #f1f1fb;
  --primary: #006aff;
  --secondary: #e4e6f0;
  --accent : #b2b9ff;
  --text: #121212;
  --link-text: #ffffff;
  --heading-text: #000000;
  --white: #ffffff;
}
